:root {
    --main-color: #FF305B;
    --main-fontr: font-family: "Roboto", sans-serif;
    --main-fonts: "Source Sans 3", sans-serif;
}

.customicon {
    color: var(--main-color);
    font-size: 24px;
    font-family: var(--main-fontr);
    padding: 18px 0;
    font-weight: 900;
}

.customicon:hover {
    color: var(--main-color);
}

.customLink {
    color: #ffffff;
    font-size: 16px;
    font-family: var(--main-fontr);
    padding: 20px 0px;
    letter-spacing: 0.4px;
    transition: all 1s;
}


.customLink:hover {
    color: var(--main-color);
}

#header {
    background: linear-gradient(rgba(0, 0, 0, 0.820)), url(../img/slider-02.jpg);
    background-position: center;
    background-size: cover;
    height: 100dvh;
}

.header-contact h3 {
    color: white;
    font-size: 24px;
    font-family: var(--main-fonts);
    margin: 0 0 10px;
    font-weight: 600;
}

.header-contact h1 {
    color: var(--main-color);
    font-size: 70px;
    font-family: var(--main-fonts);
    margin: 0 0 10px;
    font-weight: 700;
}

.header-contact h4 {
    color: #ffffff;
    font-size: 26px;
    font-family: var(--main-fonts);
    margin: 0 0 10px;
    font-weight: 300;
}

.header-contact h4 span {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #fff;
    width: 9ch;
    animation: move 1.7s steps(9, end) infinite;
    animation-delay: 0.3s;
}

@keyframes move {
    from {
        width: 0;
    }

    to {
        width: 9ch;
    }
}

.customborder {
    border: #555555 7px solid;
    border-radius: 6px;

}

.customimg {
    position: relative;
    top: 17px;
    left: 17px;
    overflow: hidden;
}

.customimg img {
    border-radius: 5px;
}

.fram {
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 5px;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 0.6s;
    opacity: 0;
}

.customimg:hover .fram {
    transform: translateY(-270px);
    opacity: 1;
    overflow: hidden;
}

.about-ancor i {
    color: white;
    transition: all 1s;
}

.about-ancor i:hover {
    color: var(--main-color);
}

.about-contant h2 {
    color: #333333;
    font-size: 34px;
    font-family: var(--main-fonts);
    margin: 0 0 25px;
    padding: 0 0 0 13px;
    font-weight: 600;
    text-transform: uppercase;

}

.about-contant h2::before {
    content: "|";
    padding-inline: 0 14px;
    font-size: 27px;
    font-weight: 800;
    color: var(--main-color);
}

.about-contant p {
    color: #555555;
    line-height: 25px;
    font-family: var(--main-fontr);
    margin: 0 0 25px;
    padding: 0 0 25px;
    border-bottom: #333333 1px dashed;

}

.about-list li {
    list-style: none;
    color: #555555;
    font-family: var(--main-fontr);
    margin: 0 0 25px;
}

.about-list span {
    color: #333333;
    font-family: var(--main-fontr);
    font-weight: 500;
}

.custombutton {
    background-color: var(--main-color);
    padding: 13px;
    color: white;
    margin-left: 5px;
}

.custombutton:hover {
    background-color: #EC2403;
    color: white;
}

.bground {
    background-color: #F1F1F1;
}

#ourservices {
    background-color: #F1F1F1;
}

.ourservices-contant {
    padding: 0 0 40px;
}

.ourservices-contant h2 {
    color: #333333;
    font-size: 40px;
    font-family: var(--main-fonts);
    margin: 0 0 5px;
    padding: 0 0 5px;
    font-weight: 800;
}


.underline {
    width: 80px;
    height: 1px;
    background: var(--main-color);
    margin: 0 auto;
    position: relative;
}

.underline::before,
.underline::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background: var(--main-color);
}

.underline::before {
    width: 170px;
    bottom: -6px;
}

.underline::after {
    width: 80px;
    bottom: -12px;
}

.ourservices-card {
    transition: all 0.3s;
    background-color: transparent;
    padding: 35px 15px;
}

.ourservices-card h5 {
    color: #333333;
    font-size: 24px;
    font-family: var(--main-fonts);
    margin: 0 0 15px;
    font-weight: 600;
}

.ourservices-card p {
    color: #555555;
    line-height: 25px;
    font-family: var(--main-fontr);
}

.ourservices-card:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
}

.ourservices-card:hover i {
    transform: scale(1.5);
}

.ourportfolio-list {
    padding: 0 15px;
    margin: 0 0 50px;
}

.ourportfolio-list a {
    color: #333333;
    font-family: var(--main-fontr);
    padding: 2px 12px;
    letter-spacing: 1px;
    font-weight: 500;
}

.ourportfolio-list a:hover {
    color: var(--main-color);
}

.ourportfolio-list a:active {
    color: var(--main-color);
}

.ourportfolio-fram {
    background-color: rgba(0, 0, 0, 0.541);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s;
}

.ourportfolio-fram:hover {
    transform: skew(90px);
    opacity: 1;
}

.feadback {
    /* height: 300px; */
    border-radius: 10px;
    background: linear-gradient(135deg, var(--main-color) 20% 15%, #F1F1F1 10% 100%);
}

.testimonial-content img {
    width: 20%;
}

.testimonial-content h3 {
    color: #333333;
    font-family: var(--main-fonts);
    font-size: 26px;
    margin: 0 0 10px;
    font-weight: 600;
    text-align: start;
}

.testimonial-content h4 {
    color: #777777;
    font-size: 18px;
    font-family: var(--main-fonts);
    margin: 0 0 10px;
    font-weight: 600;
}

.testimonial-content p {
    color: #555555;
    font-family: var(--main-fontr);
    line-height: 25px;
    margin: 0 0 15px;
    font-style: italic;

}

.carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin: 0 3px;
}

.carousel-indicators .active {
    height: 5px;
    background: var(--main-color) none repeat scroll 0 0;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 0 3px;
}

.ourblog-content span {
    color: #555555;
    font-family: var(--main-fontr);
    margin: 0 0 10px;

}

.ourblog-content h5 {
    color: #333333;
    font-size: 24px;
    font-family: var(--main-fonts);
    font-weight: 600;
    margin: 0 0 15px;
}

.ourblog-content p {
    color: #555555;
    line-height: 25px;
    font-family: var(--main-fontr);
    margin: 0 0 15px;
}

.ourblog-content h6 {
    color: #555555;
    font-family: var(--main-fontr);
    font-weight: 400;
}

.ourblog-content h6::after {
    content: "->";
}

#footer {
    background-color: #333333;
}